.agenda-ck-editor .ck-editor__editable p {
  margin: 0 !important;
  line-height: 22px !important;
}

.agenda-ck-editor .ck-editor__editable ul,
.agenda-ck-editor .ck-editor__editable ol {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
