@import "@diligentcorp/atlas-react-bundle/styles";
@import "@diligentcorp/atlas-react-bundle/global-nav.css";

main[data-atlas-gn-app] {
  border-left: 1px solid var(--lens-component-global-nav-list-divider-border-color);
  min-height: 100dvh;
}

/* Override Atlas PageHeader title size */
h1.MuiTypography-root {
  font-size: 24px !important;
  line-height: 32px !important;
}

mock-hb-global-navigator {
  z-index: 100 !important;
  background-color: var(--lens-semantic-color-surface-default, #ffffff) !important;
}
